name: ci
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.12.2'
      - run: cd server && npm ci && npm run build && npm test --silent
      - run: cd frontend && npm ci && npm test --silent